{%extends 'nav.html'%}
{%block content%}
</br>
</br>
</br>
</br>
</br>
</br>
<center>
<div class="container" style="margin-left:90px;position: relative;">
<h1 class="p_title">Grab the food near you</h1>
<div class="row">

  <div class="col-lg-4 col-md-6">

    <div class="pricing_item">
  <div class="p_list">
    <ul>
      <li>Food Name: Pizza</li>
      <li>Phone Number: 123456789</li>
      <li>Category: Veg</li>
      <li>Quantity: 4 people</li>
      <li>Expiry: 15-10-2000</li>
    </ul>
  </div>
  <div class="p_btn">
    <a class="gradient_btn" href="/collects"><span>Collect</span></a>
  </div>
  <div class="p_list">
    <ul>
      <li>Food Name: Idly</li>
      <li>Phone Number: 123456789</li>
      <li>Category: Veg</li>
      <li>Quantity: 4 people</li>
      <li>Expiry: 15-10-2000</li>
    </ul>
  </div>
  <div class="p_btn">
    <a class="gradient_btn" href="/collects"><span>Collect</span></a>
  </div>
  <div class="p_list">
    <ul>
      <li>Food Name: Biryani</li>
      <li>Phone Number: 123456789</li>
      <li>Category: Veg</li>
      <li>Quantity: 4 people</li>
      <li>Expiry: 15-10-2000</li>
    </ul>
  </div>
  <div class="p_btn">
    <a class="gradient_btn" href="/collects"><span>Collect</span></a>
  </div>
  <div class="p_list">
    <ul>
      <li>Food Name: White Rice</li>
      <li>Phone Number: 123456789</li>
      <li>Category: Veg</li>
      <li>Quantity: 4 people</li>
      <li>Expiry: 15-10-2000</li>
    </ul>
  </div>
  <div class="p_btn">
    <a class="gradient_btn" href="/collects"><span>Collect</span></a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </center>
{%endblock%}
