{%extends 'nav.html'%}
	<!--================Header Menu Area =================-->
{%block content%}
	<!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="home_left_img">
							<br>
							</br>
							<br>
							</br>
							<br>
							</br>
							<br>
							</br>
							<!--<img class="img-fluid" src="/static/img/banner/home-left.png" alt="">-->
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner_content">
							<h2>
								Encouraging <br>
								Zero Hunger <br>

							</h2>
							<p>
							Got food to share? Just with a tap anyone can share food.Come join us, connect with your neighbours and be a part of food sharing .If you cant feed a hundred people, then just feed one.
							</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Start About Us Area =================-->
	<section class="about_us_area section_gap_top">
		<div class="container">
			<div class="row about_content align-items-center">
				<div class="col-lg-6">
					<div class="section_content">
						<h6>About Us</h6>
						<h1>We Believe that <br>Where hunger reigns, <br>strength abstains</h1>
						<p>Hunger has been a constant problem throughout the ages. Our mission is to ensure zero hunger in the society we live in.
						The amount of food getting wasted in our homes, in parties is more than enough for feeding many. HuMan connects donors with both individuals in need of food and organisations which are ready to feed others.So why can’t we take a step now?"Just with a snap and a tap"</p>
						<a class="primary_btn" href="#">Learn More</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about_us_image_box justify-content-center">
						<img class="img-fluid w-100" src="img/about_img.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End About Us Area =================-->

	<!--================First Upcoming Games Area =================-->
	<section class="upcoming_games_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
            <h2>HOW IT WORKS</h2>
						<h1>HOW IT WORKS</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Upcoming Games Area =================-->

	<!--================Start Recent Update Area =================-->
	<section class="recent_update_area section_gap">
		<div class="container">
			<div class="recent_update_inner">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
							DONATE
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
						 aria-selected="false">
							TAP
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
						 aria-selected="false">
							COLLECT
						</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row recent_update_text">
							<div class="col-lg-6">
								<div class="chart_img">
									<img class="img-fluid" src="img/banner.png" alt="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="section_content">
									<h6>HAVE SOMETHING TO SHARE?</h6>
									<h1>If you are a donor<br>You are just one step away</h1>
									<p>Got some extra food? Add on a brief description of the quantity and your pickup details! Who knows, a hungry stomach may be next door</p>

								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row recent_update_text">
							<div class="col-lg-6">
								<div class="chart_img">
									<img class="img-fluid" src="img/recent_up.png" alt="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="section_content">
									<h6>ARE YOU HUNGRY?</h6>
									<h1>Just a tap can conect you with the food nearby</h1>
									<p>If you are in need of food and your neighbhour got some extra. Why to remain hungry? All you have to do is "Tap it and Get it".</p>

								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="row recent_update_text">
							<div class="col-lg-6">
								<div class="chart_img">
									<img class="img-fluid" src="img/recent_up.png" alt="">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="section_content">
									<h6>CONNECT</h6>
									<h1>Come,Lets Share and Connect</h1>
									<p>HuMan connects food donors with Organisations and individuals where sharing becomes easy.</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Recent Update Area =================-->


	
	<!--================ Start Pricing Plans Area ================-->
	<section class="pricing_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<h2>Connect With Us</h2>
						<h1>Connect With Us</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="pricing_item">
						<h3 class="p_title">CONNECT AS AN INDIVIDUAL</h3>
						<div class="p_list">
							<ul>
								<li>Tap on the nearest option available</li>
								<li>Get the locations </li>
								<li>Go get your food</li>
							</ul>
						</div>
						<div class="p_btn">
							<a class="gradient_btn" href="#"><span>HUNGRY?</span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="pricing_item active">
						<h3 class="p_title">CONNECT AS A DONATOR</h3>
						<div class="p_list">
							<ul>
								<li>Give a brief description</li>
								<li>Update your location</li>
								<li>Get to know your neighbhour</li>
							</ul>
						</div>
						<div class="p_btn">
							<a class="gradient_btn" href="#"><span>DONATE</span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 hidden-md">
					<div class="pricing_item">
						<h3 class="p_title">CONNECT AS AN ORGANIZATION</h3>
						<div class="p_list">
							<ul>
								<li>Tap on the best option available</li>
								<li>Get location and your package</li>
								<li>Distribute</li>
							</ul>
						</div>
						<div class="p_btn">
							<a class="gradient_btn" href="#"><span>HUNGRY?</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Pricing Plans Area ================-->


	<!--================ Start Frequently Asked Questions Area ================-->
	<section class="frequently_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<h2>Frequently Asked Questions</h2>
						<h1>Frequently Asked Questions</h1>
					</div>
				</div>
			</div>
			<div class="row frequent_inner">
			  <div class="col-lg-5 col-md-5">
			    <div class="frequent_item">
			      <h3>How to connect as an organization</h3>
			      <p>Any organization willing to promote the zero hunger idea can connect with us and get mapped to the best donator.</p>
			    </div>
			  </div>
			  <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
			    <div class="frequent_item">
			      <h3>Is your location search limited</h3>
			      <p>No our search is not limited. User is given option where he/she can select the search location.</p>
			    </div>
			  </div>
			  <div class="col-lg-5 col-md-5">
			    <div class="frequent_item">
			      <h3>How can I donate</h3>
			      <p>First step is to sign up.Now you are just one step away. Add a brief description and there you go!. </p>
			    </div>
			  </div>
			</div>
			</div>
			</section>
	<!--================ End Frequently Asked Questions Area ================-->


	<!--================Footer Area =================-->

	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{%endblock%}
