{%extends 'nav.html'%}
{%block content%}
</br>
</br>
</br>
</br>
</br>
<center>
  <form method="post">
    <h1>Signup Form</h1>
    First name:
  <input type="text" name="firstname" value="">
  <br></br>
  Last name:
  <input type="text" name="lastname" value="">
  <br><br>
  Phone Number:
  <input type="number" name="number" >
  <br>
  <br>
  Password:
  <input type="password" name="pass1">
<br><br>
Confirm Password:
  <input type="password" name="pass2">
<br><br>
  <input type="submit" value="Submit">
  </form>
</center>
<style media="screen">
    .form{
      display: tabel;
    }
</style>
{%endblock%}
